@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.wrapper .menubar .nav-item{
	padding: 0px 25px;
}

.btn-secondary {
	font-weight: 500;
    border-radius: 18px;
    color: #fff;
    background-color: #2d318a;
    border-color: #2d318a;
}
.navbar-light .navbar-nav .nav-link {
	font-weight: 500;
    color: rgb(70 70 70);
    font-size: 16px;
}
.navbar-light .navbar-nav .nav-link:hover {
	font-weight: 500;
    color: #2d318a;
    font-size: 16px;
}

.slideshow .carousel-caption h5{
	font-size: 100px;
	text-shadow: 1px 2px #00000087;
}
.slideshow .carousel-caption p{
	font-size: 25px;
	text-shadow: 1px 2px #00000087;
}
.margin50{
	margin: 50px 0px;
}
.services{
	text-align: center;
}
.services h1{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color: #2d318a;
}

.services .inner-services{
	margin-top: 20px;
	text-align: center;
	border: 1px solid #0000000f;
    padding: 10px;
    box-shadow: 0px 0px 10px #00000014;
}
.services .inner-services img{
	margin-top: 20px;
}

.services .inner-services a{
	text-decoration: none;
}
.services .inner-services h3{
	color: #2d318a;
	text-transform: uppercase;
	margin-top: 15px;
	font-size: 20px;
	font- font-weight: bold;
	font-family: 'Lato', sans-serif;
	
}
.loadmorebutton {
	display: grid;
    justify-content: center;
    margin-top: 40px;
}
.btn-primary{
	background-color: #2d318a;
	border-color: #2d318a;
	font-weight: bold;
}
.loadmorebutton .btn-primary{
	background-color: #2d318a;
	border-color: #2d318a;
	font-weight: bold;
}

.info-heading{
	padding: 30px;
    text-align: center;
    background-color: #2d318a0d;
}
.info-heading h2{
	font-size: 30px;
	line-height: 50px;
	font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #3c3c3c;
    font-weight: 900;
}
.info-heading h2 span{
	font-size: 45px;
}

.info-heading p{
	font-weight: bold;
	color: #2d318a;;
}

.info-heading img{
    box-shadow: 0px 0px 10px #0000005c;
    border: 10px solid white;

}
.info-heading .content{
	
	color:black;
	font-weight: 200;
	text-align: left;
}
.info-content{
	text-align: left;
}
.info-content .btn-primary{
	padding: 8px 30px;
}
.info-content .btn-warning{
	font-weight: bold;
	padding: 8px 30px;
	background-color: transparent;
	border: 1px solid #2d318a;
	color: #2d318a;
}
.info-content .btn-primary:hover{
	padding: 8px 30px;
	background-color: #ecb602;
	border-color: #ecb602;
}
.info-content .btn-warning:hover{
	font-weight: bold;
	padding: 8px 30px;
	background-color: #2d318a;
	border: 1px solid #2d318a;
	color: #ffffff;
}
.footer-top{
	background-color: #2d318a;
}
.left-footer{
	padding-top: 30px;
}
.left-footer img{
	margin-bottom: 20px;
}
.left-footer a li{
	display: inline-block;
    color: #ffffff;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    border-radius: 30px;
}
.left-footer a li:hover{
	background-color: #ffffff;
	display: inline-block;
    color: #2d318a;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    border-radius: 30px;
}
.footer{
	text-align: center;
	background-color: #151744;
	padding: 5px;
}
.footer p{
	color:#ffffff;
	margin: 0px;
}
.footer a{
	color:#ffffff;
	font-weight: bold;
	text-decoration: none;
}
.footer a:hover{
	color:yellow;
	font-weight: bold;
	text-decoration: none;
}
.footer-menu{
	padding-top: 30px;
}
.footer-menu a li{
	display: inline-block;
    color: #ffffff;
    padding: 5px 10px;
    font-weight: 500;
}